<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skill.mapper.SkillWriteMapper">
    <select id="selectSkillWrites" parameterType="map" resultType="skill.bean.SkillWriteFilterDTO">
        <choose>
            <when test="selectedAlignBox == '학습시간순'">
                SELECT sw.*, COALESCE(SUM(st.duration_in_seconds), 0) AS total_duration, c.name as categoryName
                FROM skill_write AS sw
                <!-- 조건에 따라 LEFT JOIN을 사용하고, JOIN 조건 내에 sw.category_name이 null이 아닐 경우에만 JOIN 수행 -->
                LEFT JOIN category AS c ON c.name = sw.category_name AND sw.category_name IS NOT NULL
                LEFT JOIN study_time AS st ON st.category_id = c.id
                WHERE sw.type IN
                <foreach item="type" collection="types" open="(" separator="," close=")">
                    #{type}
                </foreach>
                GROUP BY sw.id
                ORDER BY total_duration
                <choose>
                    <when test="selectedOrderBy == '오름차순'">ASC</when>
                    <otherwise>DESC</otherwise>
                </choose>
            </when>
            <otherwise>
                SELECT *, COALESCE(SUM(st.duration_in_seconds), 0) AS total_duration
                FROM skill_write AS sw
                LEFT JOIN category AS c ON c.name = sw.category_name
                LEFT JOIN study_time AS st ON st.category_id = c.id
                <where>
                    <if test="types != null">
                        AND sw.type IN
                        <foreach item="type" collection="types" open="(" separator="," close=")">
                            #{type}
                        </foreach>
                    </if>
                </where>
                GROUP BY sw.id
                ORDER BY
                <if test="selectedAlignBox == '날짜순'">
                    sw.created_at
                    <choose>
                        <when test="selectedOrderBy == '오름차순'">ASC</when>
                        <otherwise>DESC</otherwise>
                    </choose>
                </if>
            </otherwise>
        </choose>
    </select>
</mapper>
