<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 스네이크 표기법을 카멜 표기법으로 자동 변환 활성화 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <mappers>
        <mapper resource="StudyTimeMapper.xml"/>
        <mapper resource="SkillWriteMapper.xml"/>
        <mapper resource="DevlogWriteMapper.xml"/>
    </mappers>
</configuration>