.notion-text,
.notion-h2,
.notion-h3,
li::marker,
span,
li,
summary,
blockquote {
  color: white;
}

.notion-callout-text {
  color: white;
}

.notion-h1 {
  font-size: 40px;
  color: #d33637;
}
.notion-h2 {
  font-size: 35px;
  color: #da730d;
}
.notion-h3 {
  font-size: 30px;
  color: #af8441;
}

.notion-text,
li {
  font-size: 25px;
}

.notion-red {
  color: #d33637;
}
.notion-orange {
  color: #da730d;
}
.notion-blue {
  color: #0b6f9b;
}
.notion-pink {
  color: #ad1a74;
}
.notion-purple {
  color: #6c41a9;
}
.notion-yellow {
  color: #af8441;
}
.notion-brown {
  color: rgb(173, 146, 113);
}
.notion-teal {
  color: #4b8161;
}

.notion-teal_background {
  background-color: #4b8161;
}

.notion-blue_background {
  background-color: rgb(33, 69, 109);
}

.notion-purple_background {
  background-color: rgb(105, 66, 105);
}

.notion-pink_background {
  background-color: rgb(168, 65, 82);
}

.notion-brown_background {
  background-color: #ba856f;
}
.notion-gray_background {
  background-color: rgb(41, 41, 41);
  border: none;
}

.notion-red_background {
  background-color: rgb(154, 59, 74);
}

.notion-orange_background {
  background-color: rgb(255, 165, 0);
}

.notion-yellow_background {
  background-color: #af8441;
}
