.notion-text,
.notion-h2,
.notion-h3,
.notion-callout-text,
li::marker,
span,
li,
summary,
blockquote {
  color: white;
}

.notion-h1 {
  color: rgb(240, 235, 126);
}

.notion-teal_background {
  background-color: inherit;
  color: rgb(54, 245, 245);
}

.notion-blue_background {
  color: rgb(61, 149, 249);
  background-color: inherit;
}

.notion-purple_background {
  color: rgb(148, 50, 148);
  background-color: inherit;
}

.notion-pink_background {
  background-color: inherit;
  color: rgb(255, 96, 122);
}

.notion-brown_background {
  color: rgb(164, 107, 66);
  background-color: inherit;
}
.notion-gray_background {
  color: gray;
  background-color: inherit;
}

.notion-red_background {
  color: rgb(255, 96, 122);
  background-color: inherit;
}

.notion-orange_background {
  color: rgb(255, 165, 0);
  background-color: inherit;
}

.notion-yellow_background {
  color: rgb(255, 255, 0);
  background-color: inherit;
}
