/* 노션에서 작성한 글을 아래와 같이 커스텀 */
.notion-text,
.notion-h2,
.notion-h3,
.notion-callout-text {
  color: white;
}

.notion-h1 {
  color: rgb(240, 235, 126);
}

.notion-teal_background {
  background-color: rgb(60, 139, 82) !important;
}

.notion-blue_background {
  background-color: rgb(62, 101, 160) !important;
}

.notion-purple_background {
  background-color: rgb(99, 38, 117) !important;
}

.notion-pink_background {
  background-color: rgb(223, 91, 142) !important;
}

.notion-brown_background {
  background-color: rgb(147, 120, 62) !important;
}
.notion-gray_background {
  background-color: rgb(108, 108, 108) !important;
}
